<?xml version="1.0" encoding="utf-8"?>
<Configuration status="warn" monitorInterval="300">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss:SSS}}{green} %style{[%p]}{blue} %style{[%T-%t-%tp]}{yellow} %l %style{%msg%n%throwable}{red}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="core" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>

</Configuration>